body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(36, 7%, 15%);
}

.displayNone {
  display: none;
}

h1 {
  color: hsl(0, 100%, 100%);
  text-align: center;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.form {
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: auto auto auto;
}

label[for="search"] {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  color: hsl(0, 100%, 100%);
  font-style: italic;
  letter-spacing: 2px;
}

input[type="text"] {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  grid-row: 2 / span 1;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color:  hsl(36, 7%, 15%);
  background-color: hsl(0, 100%, 100%);
  border-radius: 5px 0 0 5px;
  border-color: transparent;
  cursor: pointer;
}

input[type="text"]:hover,
input[type="text"]:focus {
  box-shadow: inset 0 0 10px 0 hsl(0, 100%, 30%);
  border-color: hsl(0, 100%, 30%);
}

.form button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  color: hsl(0, 100%, 100%);
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0 0 10px hsla(36, 7%, 15%, 50%);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: hsl(0, 100%, 50%);
  border-radius: 0 5px 5px 0;
  border-width: 0;
  border-color: transparent;

  cursor: pointer;
  word-break: break-all;
}

button:hover {
  background-color: hsl(0, 100%, 30%);
  outline: hsl(0, 100%, 50%);
}

.warning {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  margin-right: 20px;
  text-align: right;
  color:  hsl(0, 100%, 50%);
  font-style: italic;
  letter-spacing: 2px;
}

.results {
  --i: 0;
  --items: 1;
  --tx: 0px;
  width: 100%;
  width: calc(var(--items)*100%);
  display: flex;
  margin: 30px 0 10px;
  padding: 0;
  list-style: none;
  transform: translate(calc(var(--tx, 0px) + var(--i, 0px)/var(--items)*-100%));
  user-select: none;
  overflow: hidden;
}

.smooth {
  transition: transform calc(var(--f, 1)*.5s) ease-out;
}

.results div {
  width: 100%;
  width: calc(100%/var(--items));
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.videoCard {
  position: relative;
  margin: 0  10px 20px 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 230px;
  height: 55vh;
  overflow: hidden;
  border-radius: 5px;
  background-color: hsla(0, 100%, 100%, 100%);
}

.videoCard:hover {
  box-shadow: 0 0 10px 0 hsl(0, 100%, 100%);
}

.videoCard img {
  border-radius: 5px 5px 0 0px;
  width: 100%;
  height: auto;
}

.videoCard h2 {
  position: absolute;
  font-size: 18px;
  padding: 0;
  margin-top: 15%;
  max-height: 66px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  background-color: hsla(0, 100%, 100%, 70%);
}

.videoCard a {
  color: hsl(36, 7%, 15%);
  text-decoration: none;
}

.videoCard a:hover {
  color: hsl(0, 100%, 30%);
}

.authorOfVideo,
.datePublishedVideo,
.viewOfVideo {
  align-self: center;
  margin: 5px 0;
  text-align: center;
  font-weight: 600;
}

.authorOfVideo::before,
.datePublishedVideo::before,
.viewOfVideo::before {
  display: inline-block;
  margin-right: 5px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: hsl(0, 100%, 30%);
}

.authorOfVideo::before {
  content: '\F007'; 
}

.datePublishedVideo::before {
  content: '\F073'; 
}

.viewOfVideo::before {
  content: '\F06E'; 
}

.description {
  margin: 10px;
  font-style: italic;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  height: 30px;
  width: 40%;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pagination li {
  margin: 0 0 5px;
  padding: 0;
  width: 40px;
  height: 40px;
  color: hsl(0, 100%, 100%);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 50%;
  background-color: hsl(0, 100%, 30%);
}

.pagination button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: hsl(0, 100%, 100%);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; 
  border: none;
  border-radius: 50%;
  background-color: hsl(0, 100%, 30%);
}

.pagination li:first-child:hover,
.pagination li:last-child:hover {
  background-color: hsl(0, 100%, 50%);
  box-shadow: 0 0 5px 0 hsla(0, 100%, 100%, 50%);
}

.error {
  font-size: 20px;
  font-weight: 700px;
  color: hsl(0, 100%, 100%);
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJidW5kbGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/